<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django project</title>
</head>
<body>
    <h1>Introduction</h1>

    <p>Hello world. This is not my first django project.</p>

    <br>

    <p>Am working on Django projects and this is one of the projects am tackling on my learning curve.</p>

    <br>

    <p>Am taking this course and building this project to advance on my skills and deepen my understanding
        on how everything works under the hood in web applications, especially, web applications.
    </p>

    <br>

</body>
</html>